@charset "utf-8";
/* CSS Document */

#posters {
	width: 420px;
	height: 400px;
	position: relative;
	overflow: hidden;
}
#posters div{
	margin: auto;
	padding: 0;

}
#posters .lists {
	height: 280px;
/* 	background:white; */
	position: relative;
	overflow: hidden;
}
.lists .poster{
	width:210px;
	height:260px;
	background:green;

}

.lists .poster img{
	width:100%;
	height:100%;
}

.lists .name{
	color:white;
	text-align: center;
	font-size:18px;
}
#posters .controls {
	width: 100%;
	height: 120px;
	background:orange;
	margin:10px 0;
	font-size: 13px;
}

